/**
* "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
* (en) stylesheet for screen layout
* (de) Stylesheet fr das Bildschirm-Layout
*
* @creator       YAML Builder V1.2 (http://builder.yaml.de)
* @file          basemod.css
* @-yaml-minver  3.1

-------------------------------------------------------------------------
(en) Marginal areas & page background
(de) Randbereiche & Seitenhintergrund*/
/*+clearfix {*/
#header #menu_topo:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#header #menu_topo
{
	display: inline-block;
}
#header #menu_topo
{
/*\*/
	display: block;
/**/
	_height: 1px;
}
/*+}*/
BODY
{
	padding: 0px 0 10px;
	background-position: top right;
	background-repeat: repeat-x;
	background-image: url(images/bg.png);
	background-color: #FFFFFF;
}
/*Layout Alignment*/
.page_margins
{
	margin: 0 auto;
}
/*Layout Properties*/
.page_margins
{
	width: 980px;
}
.page
{
	padding: 0px 10px 10px;
}
#header
{
	padding: 0px 2em 1em 20px;
	color: #000;
	/*background: url(images/bg_header.png) no-repeat 3% -194%;*/
	height: 150px;
}
/*[clearfix]*/#header #menu_topo
{
	/*+placement:float-right -50px 35px;*/
	float: right;
	position: relative;
	left: -50px;
	top: 35px;
	color: #FFFFFF;
	text-align: center;
	width: 200px;
	font-size: 1.3em;
}
#header #menu_topo A, #header #menu_topo A:visited
{
	color: #E1E7EA;
	font-size: medium;
	text-decoration: none;
	font-weight: bold;
	padding: 1px 0 0;
}
#header #menu_topo A:hover, #header #menu_topo A:active
{
	color: #C6C6C6;
	text-decoration: overline;
}
#header #pesquisa
{
	/*+placement:shift 82px 148px;*/
	position: relative;
	left: 82px;
	top: 132px;
	width: 500px;
	height: 0px;
}

#header #pesquisa #search_inp
{
	background-color: #F1F2F2;
	border: 0px solid #000000;
	height: 18px;
	width: 330px;
	font-size: 1.2em;
	font-weight: bold;
	color: #0381A9;
}
.button_ok {
 vertical-align:middle;
    height: 54px;
	width: 50px;
    border: none;
    background: url(images/ok.png) no-repeat top left;
}
.button_ok:hover {
    height: 54px;
	width: 50px;
    border: none;
    background: url(images/ok_hover.png) no-repeat top left;


}
#container
{
	background: url(images/bg_header2.png) no-repeat center top;
	margin: 0 auto;
	min-width: 980px;
	max-width: 1400px;
	width: auto;
}
#topnav
{
	position: static;
	color: #AAA;
	background: transparent;
}
#main
{
	margin: 10px 0;
	background: transparent url(images/barra.png) repeat-x;
}
#teaser
{
	clear: both;
	padding: 10px 20px 0;
	margin: 10px 0;
	background: transparent url(images/barra.png) repeat-x;
}
.prev {
	float:left;
}
.mid {
	width:
}
.next {
	float:right;
}
#title
{
	clear: both;
	padding: 10px 20px 0;
	margin: 10px 0;
	background: transparent url(images/barra.png) repeat-x;
}
#footer
{
	padding: 21px 20px 10px;
	color: #666;
	background: url(images/bg_footer.png) no-repeat center top;
	border-top: 0px solid #FFFFFF;
	text-align: center;
}
/*-------------------------------------------------------------------------
*
* (en) Formatting content container
*
*/
#col1
{
	float: left;
	width: 25%;
	padding: 10px 0 0;
}
#col2
{
	display: none;
}
#col3
{
	width: auto;
	margin: 0 0 0 25%;
	padding: 10px 0 0;
}
#col3_cliente
{
	width: auto;
	margin: 0 0 0 0;
	padding: 10px 0 0;
}
#col1_content
{
	padding: 0 10px 0 20px;
}
#col3_content
{
	padding: 0 20px 0 10px;
}
.topfind {
	width: 100%;
	background: url(/images/top_find.png) no-repeat left top;
}
.botfind {
	width: 100%;
	background: url(/images/bot_find.png) no-repeat left top;
}
.midfind {
	width: 100%;
	display:inline-block;
	background: url(/images/mid_find.png) repeat-y left top;
}
.topfind_cliente {
	width: 100%;
	background: url(/images/top_cliente.png) no-repeat left top;
}
.botfind_cliente {
	width: 100%;
	background: url(/images/bot_cliente.png) no-repeat left top;
}
.midfind_cliente {
	width: 100%;
	display:inline-block;
	background: url(/images/mid_cliente.png) repeat-y left top;
}
.dados_cliente {
	float: left;
	width: 355px;
	margin: 10px 15px 0 0;
}
.infos {
	position:relative;
	+placement: float-right -19px 157px;
}
.cliente {
	display:block;
	padding: 0 20px 0 20px;
}
.logo {
	width: 248px;
	float:left;
	padding: 10px 30px 0 0px;
}
.cliente_center {
	padding: 0 20px 0 20px;
}
.slideshow { height: 312px; width: 468px; margin: auto }
.slideshow img { padding: 15px; border: 1px solid #ccc; background-color: #eee; }
.slideshow2 { height: 200px; width: 168px; margin-left: 5px; margin-bottom: 13px }
.slideshow2 img { padding: 0px; border: 0px solid #ccc; background-color: #FFF; }
.slideshow3 { height: 190px; width: 848px; margin-left: 0px; margin-bottom: 0px }

.barra
{
	margin: 10px 0px 0px 0px;
	padding: 15px 0px 5px 0px;
	background: transparent url(/images/barra.png) repeat-x;
}
.subtitulo
{
	height: 25px;
	margin: 0px 0px 5px 0px;
	padding: 2px 0px 0px 15px;
	background: transparent url(/images/cliente_titulos.png) no-repeat;
	font-size: medium;
	text-decoration: none;
	font-weight: bold;
}
.subtitulo2
{
	height: 25px;
	margin: 0px 0px 5px 0px;
	padding: 3px 0px 0px 15px;
	background: transparent url(/images/cliente_titulos.png) no-repeat;
}
.subtitulo2_cont
{
	font-size: small;
	text-decoration: none;
	font-weight: bold;
	color:#000;
}
.w317 {
	width:440px;
	overflow: hidden;
}
#w300 {
	width:300px;
	max-width:300px;
}
/*-------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
  /**
   * (en) Styling of equal heights elements
   */

  .example1 { margin-bottom: 1em; }

  .example1 .subc  { margin: 0 5px; padding: 0; }
  .example1 .subcl { margin: 0 10px 0 0; padding: 0; }
  .example1 .subcr { margin: 0 0 0 10px; padding: 0; }

  .example1 h6 { background: #600; color: #fff; text-transform:uppercase; font-weight:bold; padding: 5px 10px; }
  .example1 ul { margin: 10px 10px 10px 20px; }
  .example1 p { margin: 10px; }

  .example1 .subcl,
  .example1 .subcr,
  .example1 .subc {
    background: #f0f0f0;
    color: #666;
    padding-bottom: 100em;
    margin-bottom: -100em;
  }
  
  .box-top .c33l,
  .box-top .c33r { background: url("../../images/frame/lframe.png") top left no-repeat; }

  .box-top .subcl,
  .box-top .subcr,
  .box-top .subc {
    padding: 15px;
    background: url("../../images/frame/rframe.png") top right no-repeat;
    padding-bottom: 100em;
    margin-bottom: -100em;
  }

  .box-bottom { margin-bottom: 1em; text-align:right; }

  .box-bottom .c33l,
  .box-bottom .c33r { background: url("../../images/frame/lframe.png") bottom left no-repeat; }

  .box-bottom .subcl,
  .box-bottom .subcr,
  .box-bottom .subc {
    padding: 0 20px 15px 20px;
    background: url("../../images/frame/rframe.png") bottom right no-repeat;
  }

  /* adjustment of conent elements within the boxes */
  .box-top h6 { display: block; margin: 10px 5px 5px 5px; border-bottom: 1px #C8D1D8 solid; font-style:normal; font-variant:small-caps; }
  .box-top p { padding: 5px; margin-bottom: 0;}
  
#confirm {display:none;}

/* Overlay */
#confirm-overlay {background-color:#eee; cursor:wait;}

/* Container */
#confirm-container {height:140px; width:420px; font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; background:#fff; border:2px solid #336699;}
#confirm-container .header {height:30px; line-height:30px; width:100%; background:url(../images/confirm/header.gif) repeat-x; color:#fff; font-weight:bold;}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px;}
#confirm-container .buttons {line-height:26px; width:160px; float:right; padding:10px 8px 0;} 
#confirm-container .buttons div {float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background:url(../images/confirm/button.gif) repeat-x; border:1px solid #bbb; cursor:pointer;} 
#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:2px; color:#fff;}
#confirm-container a.modal-close:hover {color:#ccc;}
  
